{%extends "./base.html" %}
{%block content %}
<link href="../../static/css/about.css" rel="stylesheet" type="text/css">
<header class="masthead" style="background-image: url('../../static/images/about_background.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>About</h1>
                    <span class="subheading">This is simple Banking System Web Application/Website</span>
                    <span class="subheading">Made by: Harshit S Chudasama</span>
                    <span class="subheading">Technologies Used: Python, Django</span>
                </div>
            </div>
        </div>
    </div>
</header>
{%endblock %}