{%extends "./base.html" %}
{%block content %}
<!--Section: Contact v.2-->
<section class="mb-4" style="margin:50px;">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
        directly.</p>
    <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5" style="padding: 10px;">
            <form id="contact-form" name="contact-form" action="" method="POST">
                {% csrf_token %}
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6" style="padding: 10px;">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" placeholder="Your Name" class="form-control">
                            <!-- <label for="name" class="">Your name</label> -->
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6" style="padding: 10px;">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" placeholder="Your Email" class="form-control">
                            <!-- <label for="email" class="">Your email</label> -->
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12" style="padding: 10px;">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" placeholder="Subject" name="subject" class="form-control">
                            <!-- <label for="subject" class="">Subject</label> -->
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12" style="padding: 10px;">

                        <div class="md-form">
                            <textarea type="text" id="message" placeholder="Message" name="message" rows="2"
                                class="form-control md-textarea"></textarea>
                            <!-- <label for="message">Your message</label> -->
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').reset();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">

                <li><i class="fas fa-user mt-4 fa-2x"></i>
                    <p>Saloni Patel</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+1 990 492 5833</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>psaloni2303@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
{%include "./footer.html"%}
{%endblock %}